---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Albert Orlando">
  <main class="grid min-h-dvh place-items-center px-6">
    <h1 class="font-display text-4xl font-medium tracking-tight sm:text-6xl">
      Albert Orlando
    </h1>
  </main>
</BaseLayout>
